.cameraView {
    background-color: #cedce7;
}
.joystick{
    margin-left:0;
    margin-right:2px;
}
@media screen and (orientation:portrait) {
    .cameraView{
        width: calc(100vw);
        height:calc(75vw);
    }
    .joystickButtons{
        width: calc( 100vw );
    }

    .joystick{
        width: calc( 75vw  - 25px );
        height: calc(100vh - 75vw - 2px);
        float:right;
    }

    .gyroscope{
        display:block;
        width: 100%;
        margin-left:10px;
        margin-top:20px;
        height: calc(33vh - 25vw - 30px);
    }

    .buttons{
        float:left;
        width: calc( 25vw );
    }

}
/* Landscape */
@media screen and (orientation:landscape) {
    .cameraView{
      width: calc((100vh - 40px) / 0.75);
        height: calc(100vh - 40px);
    }

    .joystickParent{
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .joystick{
        width: calc(100vw - ((100vh - 40px) / 0.75));
        height: calc(100vh - 43px);

    }

    .gyroscope{
        float:left;
        width: 33%;
    }

    .buttons{
        width:calc( 100vw  );
        height:40px;
    }
}

